In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [13]:
url='https://en.wikipedia.org/wiki/2023_FIFA_Women%27s_World_Cup'
df=pd.read_html(url)

In [14]:
df[0]

,FIFA Wahine o te Ipu o te Ao – Ahitereiria/Aotearoa 2023,FIFA Wahine o te Ipu o te Ao – Ahitereiria/Aotearoa 2023.1
0,NaN,NaN
1,Tournament details,Tournament details
2,Host countries,Australia New Zealand
3,Dates,20 July – 20 August
4,Teams,32 (from 6 confederations)
5,Venue(s),10 (in 9 host cities)
6,← 2019 2027 →,← 2019 2027 →

In [15]:
df[1]

         Bidding Nation(s)   Votes                                        \
         Bidding Nation(s) Round 1 Unnamed: 2_level_1 Unnamed: 3_level_1
0  Australia & New Zealand      22                NaN                NaN
1                 Colombia      13                NaN                NaN
2                  Recused       2                NaN                NaN
3              Total votes      35                NaN                NaN


  Unnamed: 4_level_1
0                NaN
1                NaN
2                NaN
3                NaN

In [16]:
df[2]

,0,1,2,3
0,AFC (6) Australia (co-hosts) China Japan P...,CONCACAF (6) Canada Costa Rica Haiti (debut...,UEFA (12) Denmark England France Germany ...,.mw-parser-output .legend{page-break-inside:av...

This appears to contain the actual names of the countries participating.